
.button{
    height:70px;
   display:flex;
   flex-direction: row;
   justify-content: end;
   align-items: center;
   padding-right:30px;
}

.form{
    
    width:400px;
    position:relative;
    left:400px;
    padding-top:20px;
    top:30px;

}